<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="coustomization.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="header_container">
      <div class="header_logo">
        <h2 class="head_logo">
          <span class="logo_span">C</span>osy<span class="logo_span">N</span>est
        </h2>
      </div>
      <div class="heaer_nav">
        <ul class="nav_list">
          <li class="items">HOME</li>
          <a href="#shop"> <li class="items">SHOPE</li></a>
          <li class="items">ABOUT US</li>
          <li class="items">CONTACT US</li>
          <li class="items">CART</li>
          <li class="items">PROFILE</li>
        </ul>
      </div>
    </header>
    <main>
      <div class="selection_container">
        <h1 class="heading-1">Your Sofa, Your Style: Create the Ultimate Comfort Haven</h1>
      <div class="wood_type">
        <h2 class="heading2">SELECT YOUR WOOD TYPE</h2>
        <div class="wood_list">
          <div class="wood-1">
            <input type="radio" id="oak" class="checkbox" value="oak" name="wood" required />
            <label for="oak"
              ><img
                src="oak.jpg"
                alt=""
                class="oak wood_items"
              />
              <figcaption>OAK</figcaption></label
            >
          </div>
          <div class="wood-2">
            <input type="radio" id="maple" class="checkbox" name="wood" required />
            <label for="maple"
              ><img
                src="maple.jpg"
                alt=""
                class="maple wood_items"
              />
              <figcaption>MAPLE</figcaption>
            </label>
          </div>
          <div class="wood-3">
            <input type="radio" id="cherry" class="checkbox" name="wood" required />
            <label for="cherry"
              ><img
                src="cherry.jpg"
                alt=""
                class="cherry wood_items"
              />
              <figcaption>CHERRY</figcaption></label
            >
          </div>
          <div class="wood-4">
            <input type="radio" id="walnut" class="checkbox" name="wood" required />
            <label for="walnut"
              ><img
                src="walnut.jpg"
                alt=""
                class="walnut wood_items"
              />
              <figcaption>WALNUT</figcaption></label
            >
          </div>
          <div class="wood-5">
            <input type="radio" id="mahogany" class="checkbox" name="wood" required />
            <label for="mahogany"
              ><img
                src="mahogany.jpg"
                alt=""
                class="mahogany wood_items"
              />
              <figcaption>MAHOGANY</figcaption></label
            >
          </div>
        </div>
      </div>
      <div class="color">
        <h2 class="heading2">SELECT YOUR SOFA COLOR</h2>
        <div class="color_list">
          <div class="sofa-1">
            <input type="radio" id="beige" class="checkbox" name="color" required />
            <label for="beige"
              ><img
                src="beige.jpg"
                alt=""
                class="beige sofa_items"
              />
              <figcaption>BEIGE</figcaption></label
            >
          </div>
          <div class="sofa-2">
            <input type="radio" id="blue" class="checkbox" name="color" required />
            <label for="blue"
              ><img
                src="blue.jpg"
                alt=""
                class="blue sofa_items"
              />
              <figcaption>BLUE</figcaption>
            </label>
          </div>
          <div class="sofa-3">
            <input type="radio" id="burgundy" class="checkbox" name="color" required />
            <label for="burgundy"
              ><img
                src="burgundy.jpg"
                alt=""
                class="burgundy sofa_items"
              />
              <figcaption>BURGUNDY</figcaption></label
            >
          </div>
          <div class="sofa-4">
            <input type="radio" id="grey" class="checkbox" name="color" required />
            <label for="grey"
              ><img
                src="grey.jpg"
                alt=""
                class="grey sofa_items"
              />
              <figcaption>GREY</figcaption></label
            >
          </div>
          <div class="sofa-5">
            <input type="radio" id="teal" class="checkbox" name="color" required />
            <label for="teal"
              ><img
                src="teal.jpg"
                alt=""
                class="teal sofa_items"
              />
              <figcaption>TEAL</figcaption></label
            >
          </div>
      </div>
      <div class="cloth">
        <h2 class="heading2">SELECT YOUR CLOTH MATERIAL</h2>
        <div class="cloth_list">
          <div class="cloth-1">
            <input type="radio" id="cotton" class="checkbox" name="cloth" required />
            <label for="cotton"
              ><img
                src="cotton.jpg"
                alt=""
                class="cotton cloth_items"
              />
              <figcaption>COTTON</figcaption></label
            >
          </div>
          <div class="cloth-2">
            <input type="radio" id="linen" class="checkbox" name="cloth" required />
            <label for="linen"
              ><img
                src="linen.jpg"
                alt=""
                class="linen cloth_items"
              />
              <figcaption>LINEN</figcaption>
            </label>
          </div>
          <div class="cloth-3">
            <input type="radio" id="polyester" class="checkbox" name="cloth" required />
            <label for="polyester"
              ><img
                src="polyester.jpg"
                alt=""
                class="polyester cloth_items"
              />
              <figcaption>POLYESTER</figcaption></label
            >
          </div>
          <div class="cloth-4">
            <input type="radio" id="velvet" class="checkbox" name="cloth" required />
            <label for="velvet"
              ><img
                src="velvet.jpg"
                alt=""
                class="velvet cloth_items"
              />
              <figcaption>VELVET</figcaption></label
            >
          </div>
          <div class="cloth-5">
            <input type="radio" id="microfiber" class="checkbox" name="cloth" required />
            <label for="microfiber"
              ><img
                src="microfiber.jpg"
                alt=""
                class="microfiber cloth_items"
              />
              <figcaption>MICROFIBER</figcaption></label
            >
          </div>
      </div>
      <div class="capacity">
        <h2 class="heading2">SELECT YOUR CAPACITY</h2>
        <div class="capacity_list">
          <div class="capacity-1">
            <input type="radio" id="oneseater" class="checkbox" name="capacity" required />
            <label for="oneseater"
              ><img
                src="oneseater.jpg"
                alt=""
                class="oneseater capacity_items"
              />
              <figcaption>ONE SEATER</figcaption></label
            >
          </div>
          <div class="capacity-2">
            <input type="radio" id="twoseater" class="checkbox" name="capacity" required />
            <label for="twoseater"
              ><img
                src="twoseater.jpg"
                alt=""
                class="twoseater capacity_items"
              />
              <figcaption>TWO SEATER</figcaption>
            </label>
          </div>
          <div class="capacity-3">
            <input type="radio" id="threeseater" class="checkbox" name="capacity" required />
            <label for="threeseater"
              ><img
                src="threeseater.jpg"
                alt=""
                class="threeseater capacity_items"
              />
              <figcaption>THREE SEATER</figcaption></label
            >
          </div>
          <div class="capacity-4">
            <input type="radio" id="combo" class="checkbox" name="capacity" required />
            <label for="combo"
              ><img
                src="combo.jpg"
                alt=""
                class="combo capacity_items"
              />
              <figcaption>ALL 3</figcaption></label
            >
          </div>
          <div class="capacity-5">
            <input type="radio" id="corner" class="checkbox" name="capacity" required />
            <label for="corner"
              ><img
                src="corner.jpg"
                alt=""
                class="corner capacity_items"
              />
              <figcaption>CORNER SOFA</figcaption></label
            >
          </div>
      </div>
      </div>
      <div class="next">
        <a href="#"><button class="btn_next" onclick="checkWood(),showData(),checkColor(),checkCloth(),checkCapacity()" >NEXT</button></a>
      </div>
    </main>
    <script src="coustomization.js"></script>
  </body>
</html>
