<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CozyNest</title>
    <link rel="stylesheet" href="home.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="loading">
      <video width="150" height="240" autoplay loop muted class="loading_gif">
        <source src="Recording 2024-03-26 134138.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
    <header class="header_container">
      <div class="header_logo">
        <h2 class="head_logo">
          <span class="logo_span">C</span>osy<span class="logo_span">N</span>est
        </h2>
      </div>
      <div class="heaer_nav">
        <ul class="nav_list">
          <li class="items">HOME</li>
          <a href="#shop"> <li class="items">SHOPE</li></a>
          <li class="items">ABOUT US</li>
          <li class="items">CONTACT US</li>
          <li class="items">CART</li>
          <li class="items">PROFILE</li>
        </ul>
      </div>
    </header>
    <main>
      <div class="head">
        <div class="head_text">
          <h1 class="head_text-1">
            Discover Your Perfect Piece, Just a Click Away!
          </h1>
          <p class="discription">
            Welcome to our
            <span class="logo_span"><b>COSYNEST</b></span> furniture store!
            Discover stylish and affordable furniture to transform your space.
            From cozy sofas to sleek dining sets, we have it all. Enjoy fast
            shipping and exceptional customer service. Shop now and make your
            house a home with us!
          </p>
          <button class="btn_costome">
            <a href="coustomize">COSTOMISE YOUR SOFA</a>
          </button>
        </div>
        <div class="sofa_img">
          <img src="couch.png" alt="" />
        </div>
      </div>
      <div class="shop" id="shop">
        <h2 class="shopnow">SHOP NOW</h2>
        <marquee behavior="scrool" direction="left" class="marquee">
          "Embark on your order journey with us and join our mission to green
          the world - for every purchase made, we'll plant a tree in your
          honor!"</marquee
        >
        <div class="flex_shop-1">
          <div class="item1 item">
            <img src="bedrrom.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">BEDROOM</figcaption>
          </div>
          <div class="item2 item">
            <img src="livingrrom.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">LIVINGROOM</figcaption>
          </div>
          <div class="item3 item">
            <img src="decors.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">DECORS</figcaption>
          </div>
          <div class="item4 item">
            <img src="dining.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">DINING</figcaption>
          </div>
        </div>
        <div class="flex_shop-2">
          <div class="item5 item">
            <img src="kitchen.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">KITCHEN</figcaption>
          </div>
          <div class="item6 item">
            <img src="study.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">OFFICE</figcaption>
          </div>
          <div class="item7 item">
            <img src="table.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">TABLEWARE</figcaption>
          </div>
          <div class="item8 item">
            <img src="bathroom.jpg" alt="" class="imgs" />
            <figcaption class="category__caption">BATHROOM</figcaption>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <h2 class="head_logo footer_logo">
        &copy; <span class="logo_span">C</span>osy<span class="logo_span"
          >N</span
        >est
      </h2>
      <div class="footer-content">
        <div class="row-1">
          <h3>BEDROOM</h3>
          <ul class="footer-links">
            <li class="links"><a href="#" class="links">Home</a></li>
            <li class="links"><a href="#" class="links">Shop</a></li>
            <li class="links"><a href="#" class="links">About Us</a></li>
            <li class="links"><a href="#" class="links">Contact</a></li>
          </ul>
        </div>
        <div class="row-1">
          <h3>KITCHEN</h3>
          <ul class="footer-links">
            <li class="links"><a href="#" class="links">Home</a></li>
            <li class="links"><a href="#" class="links">Shop</a></li>
            <li class="links"><a href="#" class="links">About Us</a></li>
            <li class="links"><a href="#" class="links">Contact</a></li>
          </ul>
        </div>
        <div class="row-1">
          <h3>LIVINGROOM</h3>
          <ul class="footer-links">
            <li class="links"><a href="#" class="links">Home</a></li>
            <li class="links"><a href="#" class="links">Shop</a></li>

            <li class="links"><a href="#" class="links">About Us</a></li>
            <li class="links"><a href="#" class="links">Contact</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
